body {
	padding-top: 40px;
	background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
  -webkit-background-size: cover;
     -moz-background-size: cover;
			 -o-background-size: cover;
}

.navbar .brand {
	color: #ffffff;
}

.navbar-fixed-bottom .container .nav > li > a {
	color: #ffffff;
}

.navbar-fixed-top .container {
	width: 90%;
}

.navbar-fixed-bottom .container > .nav {
	float: none;
	display: inline-block;
}

.navbar-fixed-bottom .container {
	text-align: center;
	height: 40px;
}

.app-window {
	position: relative;
	width: 600px;
	height: 600px;
	padding: 20px;
	border: solid 2px;
	border-color: #ffffff;
	text-align: center;
	color: #ffffff;
	background-color: rgba(0,0,0,0.7);
	margin-top: 38px;
	margin-bottom: 78px;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.app-window #recorder {
	visibility: hidden;
	width: 396px;
	height: 296px;
	border: solid 2px;
	border-color: #c0c0c0;
	background-color: #000000;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.app-window .btn-record {
	visibility: hidden;
	width: 400px;
	height: 45px;
}

.app-window .progress-tracker {
	height: 30px;
	width: 400px;
	padding-top: 5px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.progress-tracker .progress-step {
	font-weight: bold;
	font-size: 20px;
	color: #808080;
}

.progress-tracker .current {
	color: #ff0000;
}

.progress-tracker .left {
	float: left;
}

.progress-tracker .center {
	margin-left: auto;
	margin-right: auto;
}

.progress-tracker .right {
	float: right;
}

.app-window #vidplayer {
	display: none;
	width: 396px;
	height: 296px;
	border: solid 2px;
	border-color: #c0c0c0;
	background-color: #000000;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.app-window #downloader {
	display: none;
}

.app-window #downloader .btn-download {
	width: 400px;
	height: 45px;
}

.app-window #linkretriever {
	display: none;	
	height: 35px;
	width: 400px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.app-window #linkretriever input {
	width: 275px;
	height: 25px;
	padding-left: 10px;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
          border-radius: 0px;
}

.app-window #linkretriever .btn {
	height: 35px;
	width: 100px;
	padding-top: 2px;
	padding-left: 10px;
	margin-left: 3px;
	margin-top: -10px;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
          border-radius: 0px;
}

.app-window .media-sharer {
	height: 30px;
	width: 100%;
	padding-top: 5px;
	margin-top:25px;
	margin-left: auto;
	margin-right: auto;
}

.app-window .media-sharer div {
	float: right;
}