body {
	padding-top: 40px;
	background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.navbar .brand {
	color: #ffffff;
}

.navbar .nav > li > a {
	color: #ffffff;
}

.navbar-fixed-top .container {
	width: 90%;
}

.navbar-fixed-bottom .container {
	width: 40%;
}

.app-window {
	position: relative;
	width: 600px;
	height: 600px;
	padding: 20px;
	border: solid 2px;
	border-color: #ffffff;
	text-align: center;
	color: #ffffff;
	background-color: rgba(0,0,0,0.7);
	margin-top: 38px;
	margin-bottom: 78px;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.app-window #recorder {
	width: 398px;
	height: 298px;
	border: solid 2px;
	border-color: #ffffff;
	background-color: #000000;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.app-window .btn-record {
	width: 400px;
}

.app-window .helper-text {

}

.app-window .progress-tracker {
	background-color: red;
	height: 90px;
	width: 400px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}